.contacts-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  gap: 2rem;
}

.contacts-page-header,
.contacts-page-footer {
  display: flex;
  gap: 0.3125rem;
  text-align: center;
  flex-direction: column;
  width: 30%;
}

.contacts-page-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contacts-page-card {
  width: calc(50% - 10px);
  border: 1px solid #ddd;
  padding: 1.25rem;
}

.contacts-page-header--stack {
  font-weight: 200;
  font-size: x-large;
}

.contacts-page-header--title {
  font-weight: 600;
  font-size: x-large;
}

.contacts-page-header--description {
  font-weight: 400;
  font-size: small;
}

.contacts-page-footer {
  justify-content: center;
  flex-direction: row;
  font-weight: 200;
  font-size: small;
}

@media (min-width: 768px) {
  .contacts-page-card {
    width: calc(33.333% - 0.625rem);
  }
}

@media (min-width: 992px) {
  .contacts-page-card {
    width: calc(25% - 0.625rem);
  }
}
