.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1.25rem;
  border-radius: 3px;
  border-top: 2px solid #33cccc;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
  justify-content: space-between;
  flex-grow: 1;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

.card-title {
  font-weight: 600;
  color: #444c5c;
  margin-bottom: 15px;
}

.card-description {
  display: flex;
  flex-wrap: wrap;
  font-weight: 200;
  gap: 5px;
  color: #a9b1bc;
}

.card-description--value {
  font-weight: 600;
}

.card-description-icon {
  align-self: flex-end;
  margin-top: 15px;
  cursor: pointer;
}
